* {
  font-family: "Segoe UI";
  color: white;
}

body {
  background: black;
  margin: 0;
}

.Page {
  background-color: black;
  background-image: url(/yudhirPortfolio/photos/cup-2619216_1920.jpg);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.navbarContainer {
  padding: 20px;
}

.logo {
  width: 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigations {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-right: 100px;
}

.navigations a {
  font-size: x-large;
  text-decoration: none;
}

.navigations a:hover {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.profile {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.profilePicture {
  height: 500px;
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}

.name {
  font-size: larger;
  color: rgb(255, 0, 0);
}

.greet {
  font-size: 40px;
  color: antiquewhite;
}

.work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.about {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 150px;
}
.aboutTitle {
  font-size: 60px;
  text-align: center;
}
.aboutMe {
  padding-top: 60px;
  color: rgb(255, 0, 0);
}
.col12 {
  padding: 30px;
  font-size: x-large;
}
.JSImg {
  padding-top: 70px;
  width: 200px;
}
.MLImg {
  padding-top: 70px;

  width: 200px;
}

.row1 {
  display: flex;
  justify-content: space-between;
}
.col22 {
  margin: 0;
}
.contact {
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 150px;
}
.contactTitle {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.contactMe {
  color: red;
  font-size: 40px;
}
.row2 {
  display: flex;
  justify-content: space-between;
}

.thank {
  text-align: center;
}
